body {
  font-family: "JetBrainsMono NF", "Microsoft YaHei UI", Arial, sans-serif;
  font-size: 100%;
}

code {
  font-family: "JetBrainsMono NF", monospace, "Microsoft YaHei UI",
    Arial,
    sans-serif;
  font-size: 90%;
}